<div class="container pb-2 pt-4">
  <h4>Join Our Community!</h4>
  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Chat</h5>
        <p class="card-text">
          Matrix: <a href="https://matrix.to/#/#m-x-erlangen:matrix.org" target="_blank">#m-x-erlangen</a></br>
          <!-- Freenode: <code>#mx-erlangen</code> -->
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Email</h5>
        <p class="card-text">
          Join <a href="https://www.freelists.org/list/m-x-erlangen" target="_blank"> our mailing list</a>
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">GitLab</h5>
        <p class="card-text">
          Take a look at our
          <a href="https://gitlab.com/m-x-erlangen/talks/blob/master/show-tell/configs.org" target="_blank">configs</a>
          and
          <a href="https://gitlab.com/m-x-erlangen/talks" target="_blank">slides of old talks</a>!
        </p>
      </div>
    </div>
  </div>
</div>
